@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Roboto";
    font-size: 14pt;
    --border: 16px;
}

html {
}

body {
    background: linear-gradient(#1B4965,#BEE9E8);
    height: 600px;
    background-size: auto 100% !important; 
}

.corpo-mensagens {
    background-color: bisque;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.balao {
    font-weight: light;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: max-content;
    max-width: 300px;
    margin-block: 6px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

.balao.direita {
    align-self: flex-end;
    border-radius: var(--border) var(--border) 0px var(--border); /* Puxadinho pra parecer o rabinho à direita do balão */
}

.balao.esquerda {
    border-radius: var(--border) var(--border) var(--border) 0px;  /* Puxadinho pra parecer o rabinho à esquerda do balão */
}

/* Texto principal dentro de um balão de fala */
.balao h1 {
    font-size: 1rem;
    margin: 0px;
}

/* Horário de envio dos balões */
.balao h2 {
    font-size: .75rem;
    font-style: italic;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
}


.balao.esquerda h2 {
    align-self: flex-end;
}

/* Tiques de visualização dos balões */
.balao.esquerda h2::after,
.balao.direita h2::before {
    content: "";
    background-image: url("../svg/double-tick-mark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.5em;
    height: 1em;
    margin-inline: 4px;
}
