@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Henny+Penny&family=Jolly+Lodger&display=swap');

:root {
  --marrom: #552a15;
  --marrom-suave: #b48845;
  --bege-claro: #f5f5dc;
  --amarelo: #fecb2f;
}

.bordado {
  border: 1px dashed var(--bege-claro) !important;
}

.logo4K {
  height: 80px;
}

#barraNavegação {
  background-color: var(--marrom) !important;
}

.marrom {
  color: var(--marrom) !important;
}

.fundo-marrom {
  background-color: var(--marrom) !important;
}

.bege {
  color: var(--bege-claro) !important;
}

.fundo-bege {
  background-color: var(--bege-claro) !important;
}

.amarelo {
  color: var(--amarelo);
}

.fundo-amarelo {
  background-color: var(--amarelo) !important;
}

.display-1, .display-2, .display-3, .display-4 {
  margin-top: 2rem;
  font-family: "Henny Penny";
}

.lead, h1, h2, h3, h4 {
  font-family: "Freckle Face", system-ui;
  font-size: 20pt;
}

body {
    background: url("../img/fundo1.png");
}

nav a {
    --bs-breadcrumb-divider: " ↣ ";
    --bs-breadcrumb-divider-color: var(--marrom);
}

iframe, .bordado-grosso {
  border: 4px dashed var(--marrom) !important;
}

.rounded-1,
.rounded-2,
.rounded-3,
.rounded-4,
.rounded-5
 {
  overflow: hidden
}

.bordado-outline {
  outline: 2px dashed;
}

.botao-bordado {
  outline-color: var(--marrom) !important;
  outline: 1px dashed !important;
  outline-offset: -3px;
}

button.active {
  outline: none !important;
  font-family: Freckle Face;
  font-size: x-large;
  border: 2px dashed !important;
  color: black !important;
  background-color: var(--amarelo) !important;
}

.caixa-sombra {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, .5) !important;
}

td, th, tr
{
  background-color: transparent !important;
}

#doisPontos {
  padding-inline: 0px;
  text-align: center;
  max-width: 20px;
}

.carousel-indicators button {
    height: 16px !important;
    width: 16px !important;
    background-color: #0d6efd;
}
.text-shadow-subtle {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.corpo {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px !important; /* Your hard limit */
}

.btn {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}

.formulario {
  max-width: 800px !important;
  height: 100vh;
  background-color: var(--marrom-suave);
}

.divisor-colorido {
  background-image: repeating-linear-gradient(
    to right,
    var(--bs-blue) 0 15px,
    transparent 15px 20px,
    var(--bs-yellow) 20px 35px,
    transparent 35px 40px,
    var(--bs-red) 40px 55px,
    transparent 55px 60px,
    var(--bs-green) 60px 75px,
    transparent 75px 80px
  );
  height: .4rem;
}

#botaoEnviar {
  font-family: "Henny Penny";
  border: 2px dashed var(--marrom-suave);
}