:root {

}

body {
    background: url("../img/chita-background.png");
}

nav a {
    --bs-breadcrumb-divider: " ↣ ";
    --bs-breadcrumb-divider-color: #0d6efd;
}

.banner-md {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center top;
}

@media (min-width: 768px) {
  .banner-md {
    object-fit: cover;
    height: 400px;
    width: 200px;
    object-position: center center; /* Horizontal section */
  }
}
