:root {

}

body {
    background: url("../img/fundo1.png");
}

nav a {
    --bs-breadcrumb-divider: " ↣ ";
    --bs-breadcrumb-divider-color: #0d6efd;
}

.boas-vindas {
    height: 400px;
}

.banner-md {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center top;
}

.carousel-indicators button {
    height: 16px !important;
    width: 16px !important;
    background-color: #0d6efd;
}
.text-shadow-subtle {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .banner-md {
    object-fit: cover;
    height: 100%;
    width: 200px;
    object-position: center center; /* Horizontal section */
  }
}

.btn {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}

.formulario {
  max-width: 800px !important;
  height: 100vh;
  background-color: bisque;
}

.borda-colorida {
  background-image: repeating-linear-gradient(
    to right,
    var(--bs-blue) 0 15px,
    transparent 15px 30px,
    var(--bs-yellow) 30px 45px,
    transparent 45px 60px,
    var(--bs-red) 60px 75px,
    transparent 75px 90px,
    var(--bs-green) 90px 105px,
    transparent 105px 120px
  );
  height: .4rem;
}